<div class="new-question">
{{#if addNewQuestion}}
  <h1>New Question</h1>
  <div class="question-form">
    <form>
      <div class="studentName">
        <label for="name">Your Name: </label>
        {{input value=studentName1 id="name"}}
      </div>
      <div class="studentName">
        <label for="name">Your pair's name: </label>
        {{input value=studentName2 id="name"}}
      </div>

      <div class="location">
        <label for="location">Where are you sitting?</label>
        {{input value=location id="location"}}
      </div>

      <div class="content">
        <label for="content">Your Question: </label>
        {{input value=content id="content"}}
      </div>

      <button {{action 'save'}}>Submit!</button>
    </form>
  </div>
  {{else}}
   <button {{action 'questionFormShow'}}>I have a question</button>
{{/if}}
</div>
